.header {
  height: 55px;
  color: aliceblue;
  background-color: #0d2818;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
}

.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-middle {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.header-search-btn {
  display: flex;
  height: 40px;
  width: 50px;
  border: 1px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  outline: none;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.hamburger-menu {
  background-color: aliceblue;
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.header-right {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
}

.header-add-new-board {
  display: flex;
  background-color: #27ae60;
  border: 1px solid rgb(12, 110, 3);
  border-radius: 20px;
  padding: 5px 20px;
  margin: 5px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
