.footer-container {
  display: flex;
  width: 100%;
  min-height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}

.add-new-task {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.new-task-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.input-new-task {
  background-color: #1a3d2e;
  border: 1px #ddd solid;
  border-radius: 8px;
  padding: 8px;
  outline: none;
  margin: 0;
  width: 90%;
  color: #ddd;
}

.btn-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ok {
  background-color: brown;
  cursor: pointer;
  width: 50px;
  height: 20px;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.cancel {
  background-color: azure;
  cursor: pointer;
  width: 50px;
  height: 20px;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
