.list-header-container {
  display: flex;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.upper-section {
  display: flex;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 200;
}
.title-section {
  display: flex;
  width: 100%;
  padding: 8px;
}
.title-name-container {
  width: 100%;
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
}

.title-input-container {
  width: 100%;
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
}

.title-name {
  width: 100%;
  display: flex;
  cursor: pointer;
  color: aliceblue;
}

.name-tooltip,
.counter-tooltip,
.options-tooltip,
.title-tooltip {
  background-color: rgb(92, 92, 92);
  color: #ddd;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: -20px;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  z-index: 100;
}
.title-name-container:hover .name-tooltip,
.couter-container:hover .counter-tooltip,
.options-container:hover .options-tooltip,
.title-input-container:hover .title-tooltip {
  display: block;
}

.input-title {
  background-color: #1a3d2e;
  border: 1px #ddd solid;
  border-radius: 8px;
  padding: 8px;
  outline: none;
  margin: 0;
  width: 100%;
  color: #ddd;
}

.option-section {
  color: aliceblue;
  display: flex;
  width: 60px;

  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.task-counter {
  background-color: #2d5a45;
  display: flex;
  border: 1px solid #27ae60;
  width: 25px;
  border-radius: 15px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.list-options {
  width: 30px;
  color: aliceblue;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
